body {
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
    background-color: #FFFFFF;
}

.page-logo-title {
    color: navy;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 3;
    font-family: "Raleway", sans-serif;
}

.page-logo-title:hover {
    color: bisque;
}

.page-logo-title:focus {
    color: blueviolet;
}

.page-menu-list a {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 2%;
    color: navy;
    text-decoration: none;
}

.page-menu-list a:hover {
    color: bisque;
}

.page-menu-list a:focus {
    color: blueviolet
}

.page-link a {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2%;
    color: navy;
    text-decoration: none;
}

.page-link a:hover {
    color: bisque
}

.page-link a:focus {
    color: blueviolet;
}

.main-class h1 {
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 2%;
    background-color: #2E2F42;
    color: #FFFFFF;
}

.main-class button {
    font-weight: 500;
    cursor: pointer;
    line-height: 24px;
    letter-spacing: -4%;
    background-color: #4D5AE5;
    color: #FFFFFF;
}

.section-info h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 2%;
}

.section-info p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}

.section-team {
    background-color: #F4F4FD;
}

.section-team h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2%;
}

.section-team h3:hover {
    color: chocolate;
}

.section-team h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 2%;
}

.section-team p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}

.section-portfolio h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2%;
}

.section-portfolio h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 2%;
}

.section-portfolio p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}

.footer-class {
    background-color: #2E2F42;
}

footer a {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 3%;
    font-family: "Raleway", sans-serif;
}

footer p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #F4F4FD;
}