body {
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
    background-color: #FFFFFF;
}

.page-logo-title {
    color: navy;
    font-size: 1.1;
    font-weight: 700;
    line-height:1.1;
    font-family: "Raleway", sans-serif;
}

.page-logo-title:hover {
    color: bisque;
}

.page-logo-title:focus {
    color: blueviolet;
}

.page-menu-list {
    list-style-type: none;

}

.page-menu-list a {
    font-size: 1.0;
    font-weight: 500;
    line-height: 24px;
    color: navy;
    text-decoration: none;
}

.page-menu-list a:hover {
    color: bisque;
}

.page-menu-list a:focus {
    color: blueviolet
}

.page-link {
    list-style-type: none;
}

.page-link a {
    font-size: 1.0;
    font-weight: 400;
    line-height: 24px;
    color: navy;
    text-decoration: none;
}

.page-link a:hover {
    color: bisque
}

.page-link a:focus {
    color: blueviolet;
}

.main-class h1 {
    font-weight: 700;
    line-height: 60px;
    font-size: 3.0;
    background-color: #2E2F42;
    color: #FFFFFF;
}

.main-class button {
    font-weight: 500;
    cursor: pointer;
    line-height: 24px;
    font-size: 1.0;
    background-color: navy;
    color: #FFFFFF;
}

.section-list {
    list-style-type: none;
}

.section-info h3 {
    font-size: 1.2;
    font-weight: 500;
    line-height: 24px;
}

.section-info p {
    font-size: 1.0;
    line-height: 24px;
}

.section-team {
    background-color: #F4F4FD;
}

.section-team h2 {
    font-size: 2.0;
    font-weight: 700;
    line-height: 40px;
}

.section-team h3:hover {
    color: chocolate;
}

.section-team h3 {
    font-size: 1.2;
    font-weight: 500;
    line-height: 24px;

}

.section-team p {
    font-size: 1.0;
    line-height: 24px;
}

.team-img {
    list-style-type: none;
}


.section-portfolio h2 {
    font-size: 2.0;
    font-weight: 700;
    line-height: 40px;
}

.section-portfolio h3 {
    font-size: 1.2;
    font-weight: 500;
    line-height: 24px;
}

.section-portfolio p {
    font-size: 1.0;
    line-height: 24px;
}

.list-portfolio {
    list-style-type: none;
}

.footer-class {
    background-color: #2E2F42;
}

footer a {
    font-size: 1.1;
    font-weight: 700;
    line-height: 21px;
    font-family: "Raleway", sans-serif;
}

footer p {
    font-size: 1.0;
    line-height: 24px;
    color: #F4F4FD;
}